/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    background-color: bisque;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
    text-align: center;
}

#app {
    margin: auto;
}

.container {
    width: 1000px;
    min-height: 400px;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 20px;
}

img {
    width: 150px;
    object-fit: cover;
}

form {
    text-align: center;
}

input, button {
    margin: 10px;
    width: 200px;
    height: 30px;
    border-radius: 20px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px 0;
    
}

span {
    margin: 10px 20px;
    cursor: pointer;
}

.todo {
    padding: 20px;
}

.barred {
    text-decoration: line-through;
}